@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body, html{
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #ecf0f1;
  font-family: 'Lato', sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 96px;
  padding-right: 96px;
  box-sizing: border-box;
  background-color: #27ae60;
  width: 100%;
}

.logo{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.logoimg{
  margin-right: 12px;
  width: 24px;
}

nav>a{
  text-decoration: none;
  font-size: 20px;
  color: #333;
  margin-left: 48px;
}

main{
  padding-top: 24px;
  padding-left: 96px;
  padding-right: 96px;
}

.spacer{
  height: 24px;
}

h1{
  margin-top: 0;
}

.heading{
  display: inline-block;
}

.top{
  display: flex;
  justify-content: space-between;
}

.friends{
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 32px;
}

.friend{
  background-color: white;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  width: calc(50% - 60px);
  display: flex;
}

.desc>p{
  margin-top: 4px;
}

.friend:nth-child(odd){
  margin-right: 24px;
}

.friend_img{
  width: 150px;
  max-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.friend_img>img{
  max-width: 150px;
  max-height: 180px;
  display: inline;
}

.desc{
  padding-left: 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.desc>h3{
  margin-top: 0;
  margin-bottom: 4px;
}

.desc>p{
  margin-bottom: 4px;
}

.actions{
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 12px;
  padding-top: 12px;
}

.btn, .delete, .addcontact-btn, .favorite-btn, .add-btn{
  border: 0;
  outline: none;
  padding: 6px 12px;
  border-radius: 4px;
  color: white;
}

.addcontact-btn{
  background-color: #1a1a1d;
  font-size: 16px;
}

.add-btn{
  background-color: #1a1a1d;
  margin-left: 12px;
}

.icon{
  width: 10px;
  margin-right: 8px;
}

.btn{
margin-left: 12px;
background-color: #1a1a1d;
}

.favorite-btn{
  background-color: #27ae60;
}

.delete{
  margin-left: 12px;
  background-color: #e74c3c;
}

.close{
  width: 24px;
  height: 24px;
  margin-right: 8px;
  margin-top: 4px;
}

.btn:hover, .add-btn:hover, .delete:hover, .favorite-btn:hover, .close:hover{
  cursor: pointer;
}

.add-contact{
  padding: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.addcontact-btn:hover{
  cursor: pointer;
}

label{
  font-size: 20px;
  margin: 8px 0;
}

input[type=text], input[type=email]{
  padding: 6px;
  outline: none;
  border: 1px solid #1a1a1d;
  width: 100%;
  font-size: 20px;
  color: #1a1a1d;
}

.rows{
  display: flex;
}

.row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-left: 12px;
}

.row:nth-child(2){
  padding-left: 48px;
  padding-right: 24px;
}

.add-actions{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 24px;
}

.imgurl{
  width: calc(100% - 36px );
  padding: 0 12px;
}

.imgurl>label{
  display: block;
}

@media screen and (max-width: 1000px){
  main, header{
    padding-left: 24px;
    padding-right: 24px;
  }
  header{
    justify-content: space-between;
  }
}

@media screen and (max-width: 860px){
  .friends{
    flex-direction: column;
  }
  .friend{
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 440px){
  main, header{
    padding-left: 12px;
    padding-right: 12px;
  }
  .friends{
    padding-left: 24px;
    padding-right: 24px;
  }
  .friend{
    padding: 24px 12px;
    flex-direction: column;
    width: calc(100% - 24px);
    align-items: center;
  }
  .desc{
    padding-top: 24px;
    padding-left: 12px;
  }
  .actions{
    padding-top: 24px;
    padding-left: 0;
    justify-content: center;
  }
  nav>a, .logo{
    font-size: 18px;
  }
  .add-contact{
    padding: 24px 12px;
    
  }
  .addcontact-btn{
    margin-left: 12px;
  }
  .row{
    padding-left: 12px;
    padding-right: 24px;
  }
  .row:nth-child(2){
    padding-left: 12px;
    padding-right: 24px;
  }
  .rows{
  flex-direction: column;
  }
  .heading{
    font-size: 24px;
    margin-left: 12px;
  }
  .spacer{
    display: none;
  }
}